body {
  background-color: #f9f3ea;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.container {
  width: 500px;
  background: #f9f3ea;
  padding-left: 5px;
}

.back-button {
  text-decoration: none;
  color: #f36f45;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  margin-left: 35px;
  margin-top: -26px;
  font-size: 22px;
  font-weight: 700;
}

.question {
  font-weight: bold;
  align-self: flex-start;
  margin-top: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #f36f45;
  cursor: pointer;
  
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 1px solid #a9a9a9;
  resize: none;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 10px;
}

button {
  background-color: #f48a63;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e66c42;
}
