.welcom{
    font-family: "hanuman";
    font-size: 64px;
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
}

.detil{
    margin-left: 140px;
    font-family: "hanuman";
}

.tex{
    color: #f18060;
    margin-left: 10px;
}

.isilogin{
    margin-left: 180px;
    margin-top: 195px;
}

.thisforimage{
    width: 720px;
    height: 970px;
    margin-left: 1103px;
    margin-top: -818px;
    border-radius: 40px;
    box-shadow: 2px 3px 4px 1px;
    display: flex;
}

.buatemail{
    font-size: 20px;
}

.formthing{
    margin-top: 90px;
    margin-left: 20px;
}

.login > input {
    width: 620px; 
    height: 50px; 
    font-size: large; 
    border-radius: 20px;
    padding-left: 15px;
    margin-top: 20px;
    background-color: rgb(241, 139, 96); 
    color: white; 
    border: none;
    transition: 200ms ease;
}

.login :hover{
    transform: scale(1.02);
    transition: 200ms ease;
    background-color: rgb(255, 255, 255); 
    color:rgb(241, 139, 96);
    border: solid;
}

.mail > input{
    transition: 200ms ease;
    width: 620px; 
    height: 50px; 
    font-size: large; 
    border-radius: 20px; 
    padding-left: 15px; 
    margin-top: 0px; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    border: solid; 
    border-color: rgb(24, 23, 23); 
    border-width: 1px; 
    border-radius: 20px;
}

.mail :hover{
    transform: scale(1.02);
    transition: 200ms ease;
}

.pw > input{
    transition: 200ms ease;
    width: 620px; 
    height: 50px; 
    font-size: large; 
    border-radius: 20px; 
    padding-left: 15px; 
    margin-top: 0px; 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    border: solid; 
    border-color: rgb(24, 23, 23); 
    border-width: 1px; 
    border-radius: 20px;
}

.pw :hover{
    transform: scale(1.02);
    transition: 200ms ease;
}

#gambar{
    color: rgb(241, 139, 96);
    font-size: 30px;
    margin-bottom: 140px;
    margin-left: -190px;
    margin-top: 30px;
    transition: 200ms ease;
}

#gambar:hover{
    transition: 200ms ease;
    color: rgb(0, 0, 0);
}

#all{
    margin-top: -210px;
}

.text{
    color: rgb(59, 59, 139);
    padding-top: 10px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}
