*{
    margin: 0;
}

.nav > i{
    font-size: 120px;
    color: #f18860 !important;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}

.nav{
    font-family: "inter", sans-serif;
    display: flex;
    justify-content: start
}

.nav > h1{
    margin-top: 30px;
}

.nav > h4{
    margin-top: 70px;
    margin-left: -90px;
}

.ya{
    font-family: "inter", sans-serif;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.upload-box {
    border: 1px solid #999;
    border-radius: 8px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    color: black;
    user-select: none;
    -webkit-user-drag: none;
    margin-right: 50px;
    width: 200px;
    margin-left: 46px;
}
