*{
    margin: 0px;
    margin-left: 5px;
    overflow-x: hidden;
}

#gambar{
    margin-top: 10px;
    font-size: 30px;
    color: #f18860;
}

.gmbr > h1 {
    font-family: "inter", sans-serif;
    padding-left: 830px;
    margin-top: -920px;
    font-size: 90px;
}

.gars{
    margin-left: 830px;
}

.gmbr > h3{
   color: #f18860; 
   font-family: "inter", sans-serif;
   font-size: 70px;
   margin-left: 840px;
}

.makan{
   color: #f18860; 
   font-family: "inter", sans-serif;
   font-size: 20px;
   margin-left: 840px;
}

.tombl{
    margin-left: 1200px;
    margin-top: 100px;
}