* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fdf4ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.atass {
  background-color: #fff4ed;
  border: 2px solid #f0e0d3;
  border-radius: 10px;
  width: 800px;
  padding: 40px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
  color: #222;
  margin-left: 20px;
  margin-top: -20px;
}

.penting {
  display: flex;
  justify-content: space-between;
}

.rapi {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: 700;
  margin-top: 10px;
}

.guest input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border-radius: 20px;
  border: 1px solid #000000;
  outline: none;
}

input[type="password"],
input[type="text"] {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}

.change-pass p {
  color: #ff6f3b;
  font-size: 13px;
  cursor: pointer;
  margin-top: 5px;
}

.buatprofil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1.5px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #555;
  margin-top: 5px;
  cursor: pointer;
}

.apply-changes {
  display: block;
  margin: 40px auto 0;
  background-color: #ff8b5b;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.apply-changes:hover {
  background-color: #ff6a2f;
}